<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Child Oral Antibiotic Dose Calculator">
        <meta name="author" content="Hao Ning Ng">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/styles.css" rel="stylesheet">
        <script src="static/antibiotic.js"></script>
        <title>Antibiotic Calculator</title>
    </head>
    <body>
        <header>
            <h1>Child Oral Antibiotic Dose Calculator</h1>
        </header>
        <main>
        {% block main %}
        {% endblock %}
        </main>
        <footer>
            Copyright &#169; Hao Ning Ng
        </footer>
    </body>
</html>